<%= form_with url: gages_path, method: :get, local: true do |f| %>
  <div class="-space-y-px rounded-md shadow-sm">
    <div>
      <%= f.label :search, class: "sr-only" %>
      <%= f.text_field :search,
                        placeholder: t('gages.search'),
                        value: search,
                        class: %[relative
                                block
                                w-full
                                appearance-none
                                rounded-none
                                rounded-t-md
                                border
                                border-gray-300
                                px-3
                                py-2
                                text-gray-900
                                placeholder-gray-500
                                focus:z-10
                                focus:border-indigo-500
                                focus:outline-none
                                focus:ring-indigo-500
                                sm:text-sm] %>
      </div>
      <div>
        <%= f.button type: :submit, class: %w[group
                                              relative
                                              flex
                                              w-full
                                              justify-center
                                              rounded-md
                                              border
                                              border-transparent
                                              bg-indigo-600
                                              py-2
                                              px-4
                                              text-sm
                                              font-medium
                                              text-white
                                              hover:bg-indigo-700
                                              focus:outline-none
                                              focus:ring-2
                                              focus:ring-indigo-500
                                              focus:ring-offset-2"] do %>
         <%= t('btns.search') %>
        <% end %>
      </div>
  </div>
<% end %>
<table class="table-auto w-full mt-2">
    <thead>
      <th>
        <%= t('gages.header.ibcw_id') %>
      </th>
      <th>
        <%= t('gages.header.name') %>
      </th>
      <th>
        <%= t('gages.header.last_captured_at') %>
      </th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% gages.map(&:as_view).each do |gage| %>
        <tr class="gage-row">
          <td>
            <%= gage.ibcw_id %>
          </td>
          <td>
            <%= link_to edit_gage_path(gage), class: %w[font-medium 
                                                        text-indigo-600
                                                        hover:text-indigo-500] do %>
              <%=  gage.name %>
            <% end %>
          </td>
          <td>
            <%= gage.last_waterflow_captured_at %>
          </td>
          <td>
            <%= link_to gage.url,
                        target: '_blank',
                        class: %w[font-medium 
                                  text-indigo-600
                                  hover:text-indigo-500] do %>
              <i class="material-icons">
                open_in_new
              </i>
            <% end %>
          </td>
          <td>
            <%= link_to gage_path(gage),
                        method: :delete,
                        id: "destroy-gage-#{gage.id}",
                        data: { confirm: t('dialog.confirmation') },
                        class: %w[font-medium 
                                  text-indigo-600
                                  hover:text-indigo-500] do %>
              <i class="material-icons">
                delete
              </i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
